CONFIG_SHUTONG_FLAGSHIP=y
CONFIG_SHUTONG_SN="86217807288591"
CONFIG_MQTT_BROKER_URL="mqtt://shutong.3198.net:1883"
CONFIG_MQTT_USERNAME="st_device"
CONFIG_MQTT_MASTER_KEY="34f17dc1e8f8fd6b6b16c33f7321f3d2d38e2184da1b18ec67ef9d796aba8158"
CONFIG_PARTITION_TABLE_SINGLE_APP_LARGE=y
