CONFIG_SHUTONG_FLAGSHIP=y
CONFIG_SHUTONG_SN="86217807288591"
CONFIG_MQTT_BROKER_URL="mqtt://shutong.3198.net:1883"
CONFIG_MQTT_USERNAME="st_device"
CONFIG_MQTT_PASSWORD="shutong-mqtt-2024"
CONFIG_MQTT_MASTER_KEY="34f17dc1e8f8fd6b6b16c33f7321f3d2d38e2184da1b18ec67ef9d796aba8158"
CONFIG_PARTITION_TABLE_SINGLE_APP_LARGE=y

# PSRAM (ESP32-S3 Octal 8MB, on DFR1154)
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_TYPE_AUTO=y
CONFIG_SPIRAM_ALLOW_BSS_SEG_EXTERNAL_MEMORY=y
CONFIG_SPIRAM_USE_CAPS_ALLOC=y
# CONFIG_CAMERA_PSRAM_DMA is not set
CONFIG_HTTPD_MAX_REQ_HDR_LEN=2048

